*{
    padding: 0%;
    margin: 0%;
    font-family: cursive;
}

body{
    background-color: rgb(130, 62, 193);
}

header{
    background-color: rgb(87, 24, 147);
    box-shadow: 0px 3px 10px;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 8rem;
}


.Home{
    display: flex;
    align-items: center;
    color: blanchedalmond;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0.8rem;
}   

.nav-link{
    text-decoration: none;
    font-size: 1.20rem;
    color: blanchedalmond;
}

.login-button button{
    border: none;
    background-color: transparent;
    padding: 10px 15px;
}

.login-button button a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: 500;
    font-size: 1rem;
}

.apresentacao{
    padding: 4rem;
    margin: 2rem;
    align-items: left;
    color: blanchedalmond;
    width: 35rem;
    height: 22.4rem;
    font-size: 1.8rem;
}
img{
    display: flex;
    position: relative;
    width: 500px;
    height: 550px;
    margin-left: 800px;
    margin-top: -410px;
    border-radius: 15px;
    box-shadow: 0 8px 12px color(black);

}
